* body {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .forgot-password-form {
    background-color: white;
    padding: 55px;
    border-radius: 8px;
    padding-top: 165px;
    padding-bottom: 164px;
  }
  .forgot-password-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman';
    font-size: x-large;
    color: rgb(10, 145, 230);
  }
  .two-lines {
    overflow-wrap: break-word;
    width: 299px;
    text-align: center;
    margin-bottom: 20px;
  }
  .input-email {
    margin-bottom: 30px;
  }
  .input-email input {
    width: 87%;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #ddd;
  }
  button {
    border: none;
    border-radius: 4px;
    padding: 20px 100px;
    font-weight: bold;
    cursor: pointer;  
    margin-bottom: 25px;
  }
  .request-button{
    background-color: lightskyblue;
  }
  .back-login-button{
    background-color: white;
    color: rgb(10, 145, 230);
    width: 100%;
  }