/* Custom Styles */
body {
    background-color: lightskyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Times New Roman', Times, serif; 
}

h1{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h3{
    color: darkblue;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.form-group{
    border-color: white;
    color: darkblue;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

#threadContent{
    border-color: darkblue;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
