* {
    font-family: 'Helvetica';
    margin: 0;
  }
  body {
    background-color: #f3f3f3;  
  }
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 55px;
    border-radius: 8px;
    border: 1px solid lightskyblue;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .forgot-password-form h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 31px;
    color: darkblue;
  }
  .two-lines {
    overflow-wrap: break-word;
    width: 320px;
    text-align: center;
    margin-bottom: 40px;
  }
  .input-email {
    margin-bottom: 40px;
    width: 90%;
  }
  .input-email input {
    width: 88%;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #ddd;
  }
  button {
    border: none;
    border-radius: 4px;
    padding: 20px 91px;
    font-weight: bold;
    cursor: pointer; 
    margin-bottom: 25px;
  }
  .request-button {
    background-color: lightskyblue;
  }
  .request-button:hover {
    background-color: darkblue;
    color: white;
  }
  .back-login-button {
    background-color: white;
    color: rgb(10, 145, 230);
    width: 100%;
    margin-bottom: 25px;
  }
  .back-login-button:hover {
    background-color: darkblue;
    color: white;
  }