  .header {
    width: 100%;
    background: rgb(10, 145, 230);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  .logo {
    max-width: 110px;
    max-height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .nav-links {
    padding: 35px 0;
  }
  .nav-links li {
    display: inline-block;
    margin: 0 20px;
    margin-right: 20px;
  }
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  .nav-links li a:hover { 
    color: darkblue;
  }
  .btn a {                        
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
  }
  .btn a:hover {
    background-color: white;
    color: darkblue;
    border-color: darkblue;
  }