* {
    font-family: 'Helvetica';
    margin: 0;
  }
  body {
    background-color: white;
  }
  .header {
    width: 100%;
    background: rgb(10, 145, 230);
    display: flex;
    justify-content: right;
    font-weight: bold;
  }
  .nav-links {
    padding: 35px 0;
  }
  .nav-links li {
    display: inline-block;
    margin: 0 16.97px;
  }
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
  }
  .nav-links li a:hover { 
    color: darkblue;
  }
  .btn a {                        
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
  }
  .btn a:hover {
    background-color: white;
    color: darkblue;
    border-color: darkblue;
  }
  h1 {
    text-align: center;
    font-size: 100px;
    color: darkblue;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .searchbar {
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    margin-right: 120px;
  }
  .searchbar input {
    padding: 15px;
    font-size: 20px;
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 1px;
  }
  .searchbar input:hover {
    background-color: #f3f3f3;
  }
  #submit {
    border: none;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    padding: 17px 30px;
    background-color: lightskyblue;
    font-size: 17.5px;
    font-weight: bold;
    cursor: pointer;
  }
  #submit:hover {
    background-color: darkblue;
    color: white;
  }
  .populartopics {
    border-top: 2.5px dashed rgb(10, 145, 230);
    width: 42%;
    padding: 50px;
    margin: 25px auto;
    text-align: center;
  }
  .populartopics h2 {
    color: darkblue;
    font-size: 21.5px;
    text-decoration: underline dotted;
    text-decoration-color: rgb(10, 145, 230);
    margin-bottom: 25px;
  }
  .populartopics p a{
    text-decoration: none;
    color: rgb(10, 145, 230);
    font-weight: bold;
    font-size: 17.5px;
  }
  .populartopics p a:hover{
    color: lightskyblue;
    text-decoration: underline;
  }
  .foundThreads {
    font-size: 40px;
    padding: 20px;
  }
  .errorNothingFound {
    font-size: 40px;
  }