<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--to make webpage responsive -->  
        <title>Code Central | Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Account.css') }}">  
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <h1>Welcome, {{user.username}}!</h1>
        <h2>View your past threads and points here.</h2>
        <p1>Your Points: {{ user.points }}</p1>
        <h3>Your Threads:</h3>
        <!-- Display Threads -->
        <div id="threadsList">
            <ul>
            {% for thread in threads %}
                <li>{{thread.thread_name}}</li>
            {% endfor %}
            </ul>
        </div>       
        <script src="{{ url_for('static', filename='Account.js') }}"></script>
        {% endblock %}
    </body>
</html>