<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!--to make webpage responsive -->  
        <title>Code Central | Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Account.css') }}">  
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <h1>Welcome, {{user.username}}!</h1>
        <h2>View your points and your recently-posted thread here.</h2>
        <p1>Your Points: {{ user.points }}</p1>
        <h3>Recently-Posted Thread:</h3>
        <!-- Display Threads -->
        <div id="threadsList">
        </div>
        <script>
            var threads = {{ threads | tojson }};
        </script>
        <script src="{{ url_for('static', filename='Account.js', threads = threads) }}"></script>
        {% endblock %}
    </body>
</html>