<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!--to make webpage repsonsive -->
        <title>Accounts</title>
        <link rel="stylesheet" href="Account.css">
        
    </head>

    <body>
        {% extends "header.html" %}
        {% block content%}

        <h1>Welcome, {{user.username}}</h1>
        <h4>View your past threads and points here!.</h4>
        <p>Your Points: {{ user.points }}</p>

        <h2>Your Threads</h2>
        <!-- Display Threads -->
        <div id="threadsList">
            <ul>
            {% for thread in threads %}
                <li>{{thread.thread_name}}</li>
            {% endfor %}
            </ul>
        </div>

        <form action ="{{url_for('main.logout')}}" method="post">
            <button type ="submit">Logout</button>
        </form>

        
        <script src="Account.js"></script>
        {% endblock %}
    </body>
</html>

