<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Code Central | Existing Threads</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Display_Threads.css') }}">
    </head>
    <body>
        {% extends "header.html" %}
        {% block content %}
        <h1>Search & View Existing Threads</h1>
        <h2><a id="create" href="{{ url_for('main.get_create_threads') }}">Click here to create a new thread</a></h2>
        <div class="searchbar">
            <input type="text" id="searchInput" class="form-control" placeholder="Search for thread">
            <button class="search-btn" onclick="searchThreads()">Search</button>
        </div>
        <h3> Existing Threads: </h3>
        <!-- Display Threads -->
        <div id="threadsList" class="list-threads">
            {% for thread in threads %}
                <a href="{{ url_for('main.single_thread', thread_id=thread.thread_id) }}" class="list-thread">
                    <h4>{{ thread.thread_name }}</h4>
                    <p>{{ thread.post.body }}</p>
                </a>
            {% endfor %}
        </div>
        {% endblock %}
        <script src="{{ url_for('static', filename='Threads_scripts.js') }}"></script>
    </body>
</html>