<!DOCTYPE html>
<html>
    <head>
        <title> Code Central | Forgot Password? </title>
        <link rel="stylesheet" href="Forgot Password.css">
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <div class="forgot-password-form">
            <h1> Forgot your password? </h1> 
            <div class="container">
                <p class="two-lines"> Don't worry! Enter your email below and we'll email you a link to reset your password : ) </p>
            </div> 
            <div class="input-email">
                <input type="email" placeholder="Student/Staff Email" required>
            </div>
            <div class="Buttons-container"> 
                <button class="request-button"> Please email me a reset link </button> <br>
                <button class="back-login-button" onclick="window.location.href='Login.html'"> Back to Login </button>
            </div>
        </div>
        {%endblock%}
    </body>
</html>