<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!--to make webpage repsonsive -->
        <title>Code Central</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Header.css') }}"> 
    </head>
    <body>   
        <div class="header">
            <img class="logo" src="{{ url_for('static', filename='Code Central Logo.jpeg') }}">
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('main.home') }}">Home</a></li> 
                    <li><a href="{{ url_for('main.python') }}">Python</a></li> 
                    <li><a href="{{ url_for('main.java') }}">Java</a></li> 
                    <li><a href="{{ url_for('main.account') }}">Account</a></li> 
                    <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li> 
                    <li class="btn"><a href="{{ url_for('main.login') }}">Login</a></li> 
                    <li class="btn"><a href="{{ url_for('main.signup') }}">Sign Up</a></li> 
                </ul>
            </nav>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
