<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>Code Central | Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='HomePage.css') }}">
    </head>
    <body> 
        {% extends "header.html" %}
        {% block content %}
        <div class="content">
            <h1>Code Central</h1>
            <p>Your go-to coding help forum for...</p>
            <div class="button-container">
                <button class="button1" onclick="window.location.href='{{ url_for('main.python') }}';">Python</button>
                <button class="button2" onclick="window.location.href='{{ url_for('main.java') }}';">Java</button>
            </div>
        </div>
        {% endblock %}
    </body>
</html>