<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   <!--to make webpage responsive -->
    <title>Code Central | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='HomePage.css') }}">
    <script src="{{ url_for('static', filename='HotTopics.js') }}"></script>
</head>
<body> 
    {% extends "header.html" %}
    {% block content %}
    <div class="content">
        <h1>Code Central</h1>
        <p>Your go-to coding help forum for...</p>
        <div class="button-container">
            <button type="button" class="button button1" onclick="window.location.href='{{ url_for('main.python') }}';">Python</button>
            <button type="button" class="button button2" onclick="window.location.href='{{ url_for('main.java') }}';">Java</button>
        </div>
        <div class="hotTopics" id="hotTopics">
            <h2>Hot Topics!</h2>
        </div>
    </div>
    {% endblock %}

</body>
</html>


