<!-- HTML Script -->
<!DOCTYPE html>
<html>
    <head>
        <title>Code Central | Java Help Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='SearchPage.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='SearchPage.js') }}"></script>  
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <h1>Java</h1>
        <form id="searchForm">
        <div class="searchbar">
            <input id="searcher" type="text" placeholder="Search for a topic">
            <button id = "submit" onclick = "searchBar()">Submit</button>
        </div>
        </form>
        <div class = "populartopics" id = popularTopics>
            <h2>POPULAR TOPICS:</h2>
            <p><a href = "insert link">Getting started with Java</a></p>
            <p><a href = "insert link">What does NullPointerException mean?</a></p>
            <p><a href = "insert link">How do I access elements in an array?</a></p>
        </div>
        <div id = "searchResults">
        </div>
        {%endblock%}
    </body>
</html>