<!DOCTYPE html>
<html>
    <head>
        <title> Code Central | Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
    </head>
    <body>
        {% extends "header.html" %}
        {% block content %}
        <div class="login-form">
            <h1> LOGIN </h1>   
            <div class="buttons-container">
                <form action="{{ url_for('main.login') }}" method="get">
                    <button class="login-button-a" type="submit"> Login </button>
                </form>
                <form action="{{ url_for('main.signup') }}" method="get">
                    <button class="sign-up-button" type="submit"> Sign Up </button>
                </form>
            </div>
            {% if error %}
            <div class = "error">
                <p class = "error">{{error}}</p>
            </div>
            {% endif %}
            <form action ="{{url_for('main.login')}}" method="post">
                {{form.hidden_tag () }}
                <div class="input-email-password">
                    <p>
                        {{form.username.label}}{{form.username(size = 32)}}
                    </p>
                    <br>
                    <p>
                        {{form.password.label}}{{form.password(size = 32)}}
                    </p>
                </div>
                <div class="remember-me">
                    <p>
                        {{form.remember_me.label}} {{form.remember_me}}
                    </p>
                </div>
                <p1> <a href="{{ url_for('main.forgot_passwd') }}"> Forgot password? </a> </p1>
                {{ form.submit(class="login-button-b") }}
                <div class="login-form-footer">
                    <p2> Don't have an account yet? </p2>
                    <br>
                    <p3> Sign up as a <a href="{{ url_for('main.signup') }}"> Student</a> or an <a href="{{ url_for('main.signup_academic') }}"> Academic Staff</a> member! </p3>
                </div>
            </form>
        </div>
        {% endblock %}
    </body>
</html>