<!-- HTML Script -->
<!DOCTYPE html>
<html>
    <head>
        <title>Code Central | Python Help Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='SearchPage.css') }}">
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <h1>Python</h1>
        <form id ="searchForm" action = "{{url_for('main.get_threads')}}" method = "get">
        <div class="searchbar">
            <input name="searchtext" type="text" placeholder="Search for a topic">
            <button id = "submit" onclick = "searchBar()">Submit</button>
        </div>
        </form>
        <div class ="newThreads">
            <form action="{{ url_for('main.get_create_threads') }}" method="get">
                <button class="new" type="submit"> Post new thread</button>
            </form>
        </div>
        <div class = "populartopics" id = popularTopics>
            <h2>POPULAR TOPICS:</h2>
            <p><a href = "insert link">Getting started with Python</a></p>
            <p><a href = "insert link">What does IndexError mean?</a></p>
            <p><a href = "insert link">What is a tuple?</a></p>
        </div>
        {% endblock %}
    </body>
</html>
