<!DOCTYPE html>
<html>
    <head>
        <title> Code Central | Academic Staff Sign Up </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Sign Up.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='Sign Up.js') }}"></script>  
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <div class="sign-up-form">
            <h1> ACADEMIC STAFF SIGN UP </h1>  
            <p1> Are you a Student? <a href="{{ url_for('signup') }}"> Sign up here... </a> </p1>
            <div class="input-details">
                <input type="first-name" placeholder="First Name" required>
                <input type="last-name" placeholder="Last Name" required>
            </div>
            <div class="input-details">
                <input id = "signup-email" type="email" placeholder="Staff Email" required>
                <input id = "confirm-email" type="email" placeholder="Confirm Staff Email" required>
            </div>
            <div class="input-details">
                <input id = "signup-password" type="password" placeholder="Password" required>
                <input id = "confirm-password" type="password" placeholder="Confirm Password" required>
            </div>
            <div id = "signup-error"></div>
            <button class="sign-up-button" onclick = "validateInputs()"> Sign up as an Academic Staff member </button>
            <div class="sign-up-form-footer">
                <p2> Already have an account? <a href="{{ url_for('login') }}"> Login </a> </p2>
            </div>
        </div>
        {%endblock%}
    </body>
</html>
