<!DOCTYPE html>
<html>
    <head>
        <title> Code Central | Academic Staff Sign Up </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Sign Up.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='Sign Up.js') }}"></script>  
    </head>
    <body>
        {% extends "header.html" %}
        {% block content%}
        <div class="sign-up-form">
            <h1> ACADEMIC STAFF SIGN UP </h1>  
            <p1> Are you a Student? <a href="{{ url_for('main.signup') }}"> Sign up here... </a> </p1>
            <form method="POST" action="{{ url_for('main.signup_academic') }}">
                {{ form.hidden_tag() }}
                <div class="input-details">
                    <p>
                        {{ form.username.label }}{{ form.username(size=32) }}
                    </p>
                    <br>
                    <p>
                        {{ form.email.label }}{{ form.email(size=32) }}
                    </p>
                    <br>
                    <p>
                        {{ form.email2.label }}{{ form.email2(size=32) }}
                    </p>
                    <br>
                    <p>
                        {{ form.password.label }}{{ form.password(size=32) }}
                    </p>
                    <br>
                    <p>
                        {{ form.password2.label }}{{ form.password2(size=32) }}
                    </p>
                </div>
                <div id="signup-error"></div>
                {{ form.submit(class="sign-up-button") }}
            </form>
            <div class="sign-up-form-footer">
                <p2> Already have an account? <a href="{{ url_for('main.login') }}"> Login </a> </p2>
            </div>
        </div>
        {%endblock%}
    </body>
</html>