<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Code Central | Thread - {{ thread.thread_name }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Single_Thread.css') }}">
    </head>
    <body>
        {% extends "header.html" %}
        {% block content %}
        <h1> THREAD: </h1>
        <div class="container1">
            <div class="card">
                <div class="card-header">
                    <h2>{{ thread.thread_name }}</h2>
                    <small>Posted by {{ thread.post.author.username }} on {{ thread.post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                </div>
                <div class="card-body">
                    <p>{{ thread.post.body }}</p>
                </div>
                {% if user.status == 'academic' %}
                <div class="reply-button">
                    <a href="{{ url_for('main.reply_threads', thread_id=thread.thread_id) }}" class="reply-btn">Click here to reply to thread</a>
                </div>
            {% endif %}
            </div>
            <h3>RESPONSES:</h3>
            <div class="container2">
                {% for response in responses %}
                    <div class="card">
                        <div class="card-header">
                            <small>Posted by {{ response.author.username }} on {{ response.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                        </div>
                        <div class="card-body">
                            <p>{{ response.body }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </body>
</html>